:root {
  --primary-color: #000000; /* Set primary color to black */
}

.btn.add {
  background-color: var(--primary-color); /* Set background color to primary color (black) */
  color: #ffffff; /* Text color (white) */
}

.btn.remove {
  background-color: #ffffff; /* Set background color to white for remove button */
  color: #000000; /* Text color (black) */
}

.btn.checkout {
  background-color: #000000; /* Set background color to black for checkout button */
  color: #ffffff; /* Text color (white) */
}

.btn:hover {
  transform: scale(1.02); /* Increased scale for subtle hover effect */
}

.btn:active {
  transform: scale(0.98);
}

.btn.add:hover {
  background-color: #333333; /* Darker hover color for add button */
}

.btn.remove:hover {
  background-color: #cccccc; /* Lighter hover color for remove button */
}

.btn.checkout:hover {
  background-color: #333333; /* Darker hover color for checkout button */
}
